table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 15;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border);
}

th {
    border: 1px solid;
    border-color: var(--color-border);
    border-radius: 5px;
    padding: 8px;
    text-align: left;
    font-family: sans-serif;
    color: (--color-text);
}

td {
    border: 1px solid;
    border-color: var(--color-border);
    color: var(--color-text-secondary);
    padding: 16px;
    gap: 20px;
    font-family: sans-serif
}

.buttonItem {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 10px;
    font-family: sans-serif;
}

.buttonAction {
    all: unset;
    display: inline-flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 75px;
}

button:hover {
    background-color: var(--color-hover);
    border-radius: 75px;
}

.buttonSort {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
}

.icon {
    color: var(--color-secondary);
}